<h1>Overlay Demo</h1>
<div class="content">
  <app-color-picker></app-color-picker>
</div>


<!-- <h1>Overlay Demo</h1>

<div class="scroll"> create scroll</div>
<div class="content">
  <app-color-picker></app-color-picker>
</div>
<div class="scroll"> create scroll</div> -->



<!-- <div class="scrollContent">
  <h1>Overlay Demo</h1>

  <div class="scroll"> create scroll</div>
  <div class="content">
    <app-color-picker></app-color-picker>
  </div>
  <div class="scroll"> create scroll</div>
</div> -->


<!-- <div class="scrollContent" cdkScrollable></div> -->
